body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.chat-container {
  width: 100%;
  max-width: 1200px;
  background: #fff;
  display: flex;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 90vh;
}

.sidebar {
  width: 30%;
  height: 90vh;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

.header h2 {
  margin: 0;
}

.header button {
  padding: 5px 10px;
  font-size: 16px;
}

.chat-list {
  overflow-y: auto;
  flex: 1;
}

.chat-user {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.chat-user:hover {
  background-color: #eee;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.messages-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messages-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.messages-list {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.message {
  max-width: 75%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #fff;
  flex-shrink: 0;
}

.message:not(.message-user) {
  align-self: flex-start;
  background-color: #bdbdbd;
}

.message-user {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.message-username {
  font-weight: bold;
}

.message-form {
  padding: 10px;
  background: #f8f8f8;
  display: flex;
  border-top: 1px solid #ccc;
}

.message-link {
  color: #0000ff;
  text-decoration: none;
}

.message-link:hover {
  text-decoration: underline;
}

.mention {
  color: #0096ff;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.context-menu {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  z-index: 2000;
  display: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.context-menu-list {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}

.context-menu-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu-list li:hover {
  background-color: #f0f0f0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chat-item:hover {
  background-color: #f0f0f0;
}

.chat-user-name {
  font-weight: bold;
}

.chat-last-message {
  color: gray;
  font-size: 0.9em;
}
